{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}

<div class="my-5 text-center">

    <div class = "my-5">
        <div>
            <img src="{{ target_user.profile.image.url }}" alt=""
                 style="height: 15 rem; width: 15 rem; border-darius: 100rem;">
        </div>
        <h1>
            Nickname: {{ target_user.profile.nickname }}
        </h1>
    </div>
    <div style="max-width: 900px; margin: auto">
        <h3> {{ target_user.profile.message}}</h3>
        <h3>가입일자: {{ target_user.date_joined}}</h3>
        <h3>이름: {{ target_user.first_name }}</h3>
        <h3>이메일: {{ target_user.email }}</h3>
        {% if user == target_user %}
        <div>
            <a href="{% url 'accountapp:update' pk=target_user.pk %}">
                <div class="btn btn-warning rounded-pill px-5 my-5">
                    Update
                </div>
            </a>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}