<div style = "text-align: center;">
    <div>
        <h1 class="my-5" style="font-family: 'Pacifico', cursive;">
            <a href="{% url 'accountapp:hello_world' %}">Techit</a>
        </h1>
    </div>
    <div class="mb-5">
        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'articleapp:list' %}">
                List
            </a>
        </span>

        <span class="btn btn-warning rounded-pill px-3 my-1">nav2</span>

        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'subscribeapp:list' %}">
                Subscription
            </a>
        </span>


        {% if user.is_authenticated %}

        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                MyPage
            </a>
        </span>
        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        {% else %}
        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'accountapp:create' %}">
                SignUp
            </a>
        </span>
        {% endif %}
    </div>
</div>