<div style = "text-align: center;">
    <div>
        <h1 class="my-5" style="font-family: 'Pacifico', cursive;">
            <a href="{% url 'accountapp:hello_world' %}">Techit</a>
        </h1>
    </div>
    <div class="mb-5">
        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'articleapp:list' %}">
                <b>List</b>
            </a>
        </span>

        <span class="btn btn-warning rounded-pill px-3 my-1">
            <b>nav2</b>
        </span>

        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'subscribeapp:list' %}">
                <b>Subscription</b>
            </a>
        </span>


        {% if user.is_authenticated %}

        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <b>MyPage</b>
            </a>
        </span>
        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'accountapp:logout' %}">
                <b>Logout</b>
            </a>
        </span>
        {% else %}
        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'accountapp:login' %}">
                <b>Login</b>
            </a>
        </span>
        <span class="btn btn-warning rounded-pill px-3 my-1">
            <a href="{% url 'accountapp:create' %}">
                <b>SignUp</b>
            </a>
        </span>
        {% endif %}
    </div>
</div>