<div style = "text-align: center;">
    <div>
        <h1 class="my-5" style="font-family: 'Pacifico', cursive;">
            <a href="{% url 'accountapp:hello_world' %}">Techit</a>
        </h1>
    </div>
    <div class="mb-5 btn btn-warning rounded-pill px-5 my-5">
        <span>
            <a href="{% url 'articleapp:temp' %}">
                Temp
            </a>
        </span>

        <span>nav2</span>
        <span>nav3</span>

        {% if user.is_authenticated %}

        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                MyPage
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                SignUp
            </a>
        </span>
        {% endif %}
    </div>
</div>